<log4net debug="false">
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <threshold value="VERBOSE" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d - %m%n" />
    </layout>
  </appender>

  <logger name="Profiler">
    <appender-ref ref="TraceAppender"/>
    <priority value="VERBOSE"/>
  </logger>
</log4net>