/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #F2F2F2;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #696969;
    text-decoration: underline;
}
a:visited
{
    color: #696969;
}
a:hover
{
    color: #696969;
    text-decoration: none;
}
a:active
{
    color: #696969;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

ul li { padding:3px 0; }

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


#main
{
    clear:both;
    padding: 15px 15px 15px 15px;
    background-color: #F2F2F2;
    margin-bottom: 10px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 0px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

select
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
  text-align:left;
}


table td 
{
  padding: 5px;   
  border: solid 1px #BDBDBD;
  text-align:left;
  word-wrap:break-word;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #BDBDBD; 
  font-size:10px;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.hidden 
{
    display:none;
}

.error
{
    color:Red;
}


.errorbg
{
    background-color:#FE2E2E;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
}

#logindisplay a:link
{
    color: #696969;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #696969;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: #696969;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 10.5em;
}

.tri-state
{
    width: 6em;
}


.link_button
{
    border:0;
    background-color:transparent;
    text-decoration:underline;
    color:#696969;
    cursor:pointer;
    height:18px;
    font-family: Verdana, Helvetica, Sans-Serif;
}

.normal_text
{
    color:#696969;
}

#editor input 
{
    width:800px;
}
#editor input.listitem
{
    width:100px;
}
#editor input.listitemseller
{
    width:300px;
}
#editor input.button
{
    width:60px;
}
#editor input.btn-delete
{
    width:60px;
}
#editor select 
{
    width:350px;
}
#editor textarea 
{
    width:1000px;
    height:300px;
    overflow: scroll; 
}
#editor table td
{
    padding:10px
}
#cmpages ul
{
    margin-bottom: 5px;
    line-height: 1.0em;
}
.lbl-email { display:inline-block; padding:5px 0; text-align:right; width:200px; }

/* audit trail*/

tr.failure
{
    background-color:Red;
}
tr.failure, tr.failure a
{
    color:#fff;
}

.publish
{
    width:500px;
    display: none;
    left:0px;
    top:0px;
    font-family:verdana;
    padding:0px;
    background-color:#ffffff;
    position: absolute;
    z-index:10;
    border:5px solid grey;
}

.publish_bg
{
    display: none;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    padding:0px;
    background-color:#D8D8D8;
    position: absolute;
    z-index:10;
}

.preview
{
    width:600px;
    display: none;
    left:0px;
    top:0px;
    font-family:verdana;
    padding:0px;
    background-color:#ffffff;
    position: absolute;
    z-index:10;
    border:5px solid grey;
}

.preview_bg
{
    display: none;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    padding:0px;
    background-color:#D8D8D8;
    position: absolute;
    z-index:10;
}

.preview_frame
{
    width:600px;
    height:450px;
    border:0;
}

.preview_close
{
    border:1px solid grey;
    background-color:#ffffff;
    font-weight:bold;
    font-size:13px;
    cursor:pointer;
    margin:3px;
    color:Gray;
    padding-top:2px;
    padding-bottom:2px;
}

#reports input[type="text"]
{
    width:180px;
}
#reports select 
{
    width:180px;
}

.rd-btn-add
{
    width:50px;
    border:1px solid grey;
    background-color:#E0ECF8;
    font-size:11px;
    color:#2E2E2E;
}
.rd-btn-remove
{
    width:80px;
    border:1px solid grey;
    background-color:#E0ECF8;
    font-size:11px;
    color:#2E2E2E;
}

.report_btn
{
     width:100px;
    border:1px solid grey;
    background-color:#E0ECF8;
    font-size:13px;
    cursor:pointer;
    margin:2px;
    color:#2E2E2E;
    padding-top:1px;
    padding-bottom:1px;
}

#categories input.widetext
{
    width:460px;
}
#resources input
{
    font-size:11px
}
#resources select
{
    font-size:12px
}
#resources input[type="text"].wide
{
    width:550px;
}
.wide
{
    width:400px;
}
.short
{
    width:75px;
}