@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table width="500px">
    <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
    </tr>
    <tr>
        <td><img src="/Images/estuary.jpg" alt="estuary" /></td>
        <td><img src="@Url.Content("~/Images/flower.jpg")" alt="flower" /></td>
        <td class="test">Three</td>
    </tr>
</table>

<a href="/profiler">View profiler</a>
